    <div class="row ">
        <div class="col-12 col-sm-2">
            <div class="col picture">
                <img src="{{picture}}" />
            </div>

        </div>
        <div class="col-12 col-sm-10">
            <div class="row">
                <div class="col-7 col-sm-3">
                    <p><span>Name:</span> {{name}}</p>
                </div>
                <div class="col-5 col-sm-3">
                    <p><span>Age:</span> {{age}}</p>

                </div>
                <div class="col-7 col-sm-3">
                    <p><span>Height:</span> {{height}}</p>
                </div>
                <div class="col-5 col-sm-3">
                    <p><span>Race:</span> {{race}}</p>
                </div>
                <div class="col-7 col-sm-3">
                    <p><span>Alignment:</span> {{alignment}}l</p>
                </div>
                <div class="col-5 col-sm-3">
                    <p><span>Class:</span> {{class_name}}</p>
                </div>
                <div class="col-7 col-sm-3">
                    <p><span>Occupation:</span> {{occupation}}</p>
                </div>
                <div class="col-5 col-sm-3">
                    <p><span>Level:</span> {{level}}</p>
                </div>
            </div>
        </div>
    </div>