<section class="container characterBox justify-content-center dashboard">
				<form class="addChar editChar">
				<div class="row ">
					<div class="col-12 col-sm-2">
						<div class="col picture">
						{{!-- <img src="{{character.picture}}" /> --}}
						</div>
					
					</div>
					<div class="col-12 col-sm-10">
						<div class="row">
							<div class="col-6 col-sm-3">
								<label for="name">Name:</label> <br><input type="text" id="name" name="name" value="{{character.name}}">
							</div>
							<div class="col-6 col-sm-3">
								<label for="age">Age:</label> <br><input type="text" id="age" name="age" value="{{character.age}}">
									
							</div>
							<div class="col-6 col-sm-3">
								<label for="height">Height:</label> <br><input type="text" id="height" name="height" value="{{character.height}}">
							</div>
							<div class="col-6 col-sm-3">
								<label for="race">Race:</label> <br><input type="text" id="race" name="race" value="{{character.race}}">
							</div>
							<div class="col-6 col-sm-3">
								<label for="weight">Weight:</label> <br><input type="text" id="weight" name="weight" value="{{character.weight}}">
							</div>
							<div class="col-6 col-sm-3">
								<label for="class_name">Class:</label><br> <input type="text" id="class_name" name="class_name" value="{{character.class_name}}">
							</div>
							<div class="col-6 col-sm-3">
								<label for="occupation">Occupation:</label> <br><input type="text" id="occupation" name="occupation" value="{{character.occupation}}">
							</div>
							<div class="col-6 col-sm-3">
								<label for="level">Level:</label> <br><input type="text" id="level" name="level" value="{{character.level}}">
							</div>
						</div>
					</div>
				</div>
				<div class="row eyesHair mb-2">
			<div class="col-sm-4 col-xs-12 wide">
				<label for="alignment">Alignment:</label> <br><input type="text" id="alignment" name="alignment" value="{{character.alignment}}">
			</div>
			<div class="col-sm-4 col-xs-12 wide"><label for="eyes">Eyes:</label> <br><input type="text" id="eyes"
					name="eyes" value="{{character.eyes}}"></div>

			<div class="col-sm-4 col-xs-12 wide"><label for="hair">Hair:</label><br><input type="text" id="hair"
					name="hair" value="{{character.hair}}"></div>
			<div class="col-sm-12 col-xs-12 mt-2 wide">
				<label for="picture">Img Link:</label> <input type="text" id="picture" name="picture" value="{{character.picture}}">
			</div><br><br>
		</div>
			</section>

			<section class="container col-sm-12 characterBox mt-2 killBorder">
				<div class="row">
					<div class="col-sm-3 col-xs-4 borderBox skills">
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle"><label for="str">Str:</label> <input type="text" id="str" name="str" value="{{character.str}}"> </div>
							<div class="col-sm-6 col-xs-6 circle"><label for="dex">Dex:</label> <input type="text" id="dex" name="dex" value="{{character.dex}}"> </div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle"><label for="con">Const:</label> <input type="text" id="con" name="con" value="{{character.con}}"></div>
							<div class="col-sm-6 col-xs-6 circle"><label for="int">Int:</label> <input type="text" id="int" name="int" value="{{character.int}}"></div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle"><label for="wis">Wis:</label> <input type="text" id="wis" name="wis" value="{{character.wis}}"></div>
							<div class="col-sm-6 col-xs-6 circle"><label for="char">Char:</label> <input type="text" id="char" name="char" value="{{character.char}}"></div>
						</div>
						<div class="row">
							<div class="submit  text-center"><button type="submit" class="btn m-2 short">Submit<br>Form</button>
							<button class="delete-character-button btn short">Delete<br> Character</button>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-12 borderBox"><label for="relationships">Relationships<br></label>
						<br><textarea id="relationships" name="relationships" rows="5" cols="40">{{character.relationships}}</textarea>
						</div>
					<div class="col-sm-3 col-xs-12 borderBox"><label for="background">Background<br></label>
						<br><textarea id="background" name="background" rows="5" cols="40"></textarea>{{character.background}}</div>
					<div class="col-sm-3 col-xs-12 ">
						<div class="row ">
							<div class="col-12 borderBox"><label for="personality_traits">Personality<br></label>
								<br><textarea id="personality_traits" name="personality_traits" rows="5" cols="40">{{character.personality_traits}}</textarea></div>
						</div>
						<div class="row ">
							<div class="col-12 borderBox"><label for="ideals">Ideals<br></label>
								<br><textarea id="ideals" name="ideals" rows="5" cols="40">{{character.ideals}}</textarea></div>
						</div>
						<div class="row">
							<div class="col-12 borderBox"><label for="flaws">Flaws<br></label>
								<br><textarea id="flaws" name="flaws" rows="5" cols="40">{{character.flaws}}</textarea></div>
						</div>
					</div>
				</div>
			</form>
			</section>
			<script src="/javascript/edit-character.js"></script>
			<script src="/javascript/delete-character.js"></script>