<section class="container dashboard characterBox justify-content-center">
				<div class="row ">
					
					<div class="col-12 col-sm-2">
						<div class="col picture">
						<img src="{{character.picture}}" />
					</div>
					
					</div>
					<div class="col-12 col-sm-10">
						<div class="row">
							<div class="col-7 col-sm-3">
								<p><span>Name:</span> {{character.name}}</p>
							</div>
							<div class="col-5 col-sm-3">
								<p><span>Age:</span> {{character.age}}</p>
									
							</div>
							<div class="col-7 col-sm-3">
								<p><span>Height:</span> {{character.height}}</p>
							</div>
							<div class="col-5 col-sm-3">
								<p><span>Race:</span> {{character.race}}</p>
							</div>
							<div class="col-7 col-sm-3">
								<p><span>Weight:</span> {{character.weight}}</p>
							</div>
							<div class="col-5 col-sm-3">
								<p><span>Class:</span> {{character.class_name}}</p>
							</div>
							<div class="col-7 col-sm-3">
								<p><span>Occupation:</span> {{character.occupation}}</p>
							</div>
							<div class="col-5 col-sm-3">
								<p><span>Level:</span>  {{character.level}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-xs-12"><p><span>Alignment:</span>  {{character.alignment}}</div>
					<div class="col-sm-4 col-xs-12"><p><span>Eyes:</span> {{character.eyes}} </p></div>
					<div class="col-sm-4 col-xs-12"><p><span>Hair:</span>  {{character.hair}}</p></div>
				</div>
			</section>

			<section class="container characterBox mt-2 killBorder">
				<div class="row">
					<div class="col-sm-3 col-xs-4 borderBox">
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle">Str:<p>{{character.str}}</p> </div>
							<div class="col-sm-6 col-xs-6 circle">Dex: <p>{{character.dex}}</p></div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle">Con: <p>{{character.con}}</p></div>
							<div class="col-sm-6 col-xs-6 circle">Int: <p>{{character.int}}</p></div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-6 circle">Wis: <p>{{character.wis}}</p></div>
							<div class="col-sm-6 col-xs-6 circle">Char: <p>{{character.char}}</p></div>
						</div>
						
						<div class="row">
							<div class="submit  text-center">
								<a href="edit/{{character.id}}">
									<button type="submit" class="btn m-2 borderBox short">
										Edit<br>Character
									</button>
								</a>
							</div>
						</div>
					</div>
					<div class=" col-sm-3 col-xs-6 borderBox">Relationships<br>{{character.relationships}}</div>
					<div class="col-sm-3 col-xs-6 borderBox">Background<br>{{character.background}}</div>
					<div class="col-sm-3 col-xs-6 ">
						<div class="row ">
							<div class="col-12 borderBox">Personality<br>{{character.personality_traits}}</div>
						</div>
						<div class="row ">
							<div class="col-12 borderBox">Ideals<br>{{character.ideals}}</div>
						</div>
						<div class="row">
							<div class="col-12 borderBox">Flaws<br>{{character.flaws}}</div>
						</div>
					</div>
				</div>

			</section>